{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="mb-4">{{.Title }}</h2>
        <img src="{{.Params.Image | absURL }}" alt="{{site.Params.author}}" class="img" height="10%"> 
        {{ .Content }}
        <form action="{{ site.Params.contact_form_action }}" class="row mt-5" method="POST">
          <div class="col-lg-6">
            <input type="text" class="form-control mb-4" name="name" id="name" placeholder="Name">
          </div>
          <div class="col-lg-6">
            <input type="email" class="form-control mb-4" name="email" id="email" placeholder="Email">
          </div>
          <div class="col-12">
            <textarea name="message" id="message" class="form-control mb-4" placeholder="Message..."></textarea>
          </div>
          <div class="col-12">
            <button class="btn btn-primary">Enviar</button>
          </div>
        </form>
        <div>
          </br></br></br>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2981.50810153227!2d-0.9253784846152513!3d41.64476278796291!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd596b22f6b9f321%3A0xd6fc91a106797562!2sCPIFP%20Los%20Enlaces!5e0!3m2!1ses!2ses!4v1633417916807!5m2!1ses!2ses" width="1000" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

{{partial "instafeed.html" . }}

{{ end }}